<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Joan Jafet Morales Ramos</a>
        <a class="navbar-brand" href="#">IEVN-1003</a>
      </div>
    </nav>
</div>
  <br>

<div class="container">
    <h1>Calculadora de Resistencia</h1>
    
    <div>
      <label for="banda1">Banda 1:</label>
      <select [(ngModel)]="banda1" id="banda1">
        <option *ngFor="let color of colores" [value]="color.valor">{{ color.nombre }}</option>
      </select>
      <label for="banda2">Banda 2:</label>
      <select [(ngModel)]="banda2" id="banda2">
        <option *ngFor="let color of colores" [value]="color.valor">{{ color.nombre }}</option>
      </select>
      <label for="multiplicador">Multiplicador:</label>
        <select [(ngModel)]="multiplicador" id="multiplicador">
          <option *ngFor="let color of multiplicadores" [value]="color.valor">{{ color.nombre }}</option>
        </select> 
    </div>
    <br>
  <div>
    <h3>Tolerancia:</h3>
    <label>
      <input type="checkbox" [(ngModel)]="toleranciaOro" (change)="toleranciaPlata = false"> Oro (5%)
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="toleranciaPlata" (change)="toleranciaOro = false"> Plata (10%)
    </label>
  </div>
  <br>
  <button class="btn btn-outline-secondary" (click)="calcular()">Calcular</button>

  <h2 *ngIf="resultado !== ''">Resultado: {{ resultado }} Ohms</h2>

    <table class="table table-bordered table-striped mt-4">
        <thead class="thead-light">
            <tr>
                <th>Color1</th>
                <th>Color2</th>
                <th>Multiplicador</th>
                <th>Tolerancia</th>
                <th>Valor</th>
                <th>Valor máximo</th>
                <th>Valor mínimo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td [ngStyle]="{'background-color': color1}">{{ nombre1 }}</td>
                <td [ngStyle]="{'background-color': color2}">{{ nombre2 }}</td>
                <td [ngStyle]="{'background-color': color3}">{{ nombre3 }}</td>
                <td [ngStyle]="{'background-color': color4}">{{ nombre4 }}</td>
                <td>{{resultado}}</td>
                <td>{{valorMax}}</td>
                <td>{{valorMin}}</td>
            </tr>
        </tbody>
    </table>
    
